* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
body {
    background-image: url('./img/fondo.jpg');
    background-size: cover; /* o 'contain' a seconda di come vuoi che l'immagine si adatti */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    background-image: url('./img/fondo.jpg');
    background-size: cover; /* o 'contain' a seconda di come vuoi che l'immagine si adatti */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-image: url('./img/nick-fondo-header.jpg');
    background-size: cover; /* o 'contain' a seconda di come vuoi che l'immagine si adatti */
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.header h1 {
    background-color: black;
    color: #b97f0c;
    padding: 10px;
    border-radius: 20%;
}



.grid-container {
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar main'
        'footer footer';
    grid-template-columns: 200px 1fr; /* Ancho de la barra lateral y el contenido principal */
    gap: 10px; /* Espacio entre las áreas de la cuadrícula */
    height: 100vh; /* Altura de la ventana gráfica */
}

.header {
    grid-area: header;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: #e0e0e0;
    padding: 20px;
}

.main {
    grid-area: main;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    gap: 15px;
}

.footer {
    grid-area: footer;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}


.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px; /* Ancho Fijo - Cambiar anchura */
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    height: 100%;
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    align-items: center;
    padding: 20px;
    flex-grow: 1; /* Hace que el boton quede fijo abajo */
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card-description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
    line-height: 1.5;
  }
  
  .card-price {
    text-align: end;
    font-size: 1.2rem;
    font-weight: bold;
    color: #e63946;
  }

  .card-button {
    width: 100%;
    padding: 15px;
    background-color: #457b9d;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: auto;
  }
  
  .card-button:hover {
    background-color: #1d3557;
  }